    
header{
   /*  background-color: grey;*/
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: "Nimbus";
    src: url("font/nimbus-sans-l_bold.woff2") format("woff2");
     }

h1,h2,h3{
font-family: "Nimbus";
font-size: 70pt;
}


h1{
    padding: 10px 0px 0px 20px;
}

h2{
padding: 10px 0px 0px 245px;
margin-top:-100px;
}

h3{
    padding-top: 410px;
    padding-left: 20px;
}

.pommes img{
width: 100%;
}

.pommes{
position: absolute;

}

#pommesone{
width: 500px;
top: 50px;
right:60px;
}

#pommestwo{
width: 165px;
top: 100px;
left: 200px;
}

#pommesthree{
width: 165px;
top: 300px;
left: 300px;
}

#pommesfour{
width: 165px;
top: 400px;
left: 500px;
}

#pommesfive{
width: 165px;
top: 450px;
left: 700px;
}

#pommessix{
width: 165px;
top: 650px;
left: 200px;
}

body{
/* background-color: blue;*/
background-size: 100%;
}

.introarticle{
height: 100%;
width: 100%;
/* ackground-color:aquamarine;*/
padding-top: 50px;
}

@font-face{
    font-family: "Nimbus-Roman";
    src: url("font/Nimbus-Roman-D-OT_32732.woff2") format("woff2");
    }

h4{
font-family: "Nimbus-Roman";
font-weight: normal;
font-size: 56pt;
margin-bottom: -20px;
margin-top: 0px;
padding-left: 10px;
}

h5{
font-family: "Nimbus"; 
font-size: 70pt;
margin-bottom: -5px;
margin-top: 0px;
letter-spacing:-1pt;
padding-left: 10px;
}

.happyman img{
width: 600px;
position: relative;
right: 40px;
top: 60px;
float: right;
}


.articles{
    font-family: "Nimbus-Roman";
    font-weight: normal;
    font-size: 18pt;
    line-height: 90%;
}

.headers{
font-family: "Nimbus"; 
font-size: 70pt;
letter-spacing:-1pt;

}

.article{
    height: 100%;
    width: 100%;
    padding-top: 50px;  
    position: relative;
    padding-bottom:0;

}

.nostalgia img{
width: 100%;
height: auto;
position: absolute;
padding-top:800px;
z-index:-1;
}

#firstparagraph{
display: block;
width: 25%;
margin-top: 50px;
margin-left: 10px;

}


#secondparagraph{
display: block;
width: 35%;
position: absolute center;
float: right;
margin-right: 100px;
margin-top: 0px;


}

#thirdparagraph{
    display: block;
    width: 45%;
    position: absolute;
    margin-left: 500px;
    margin-top: 120px;
    line-height: 80%;


    
    }

#fourthparagraph{
display: block;
width: 45%;
position: absolute ;
margin-top: 1000px;
margin-left: 1050px;
margin-right: 0px;
line-height: 100%;
}

#fifthparagraph{
display: block;
width: 25%;
position: absolute;
margin-top: 1250px;
margin-left: 1050px;
z-index: 1;
background-color:white;
padding-left: 10px;
padding-bottom:5px;
}

.pommesbackground img{
width: 1500px;
position: absolute bottom left;
padding-left: 10px;
padding-top:900px;
z-index: -1;
transform: rotate(12deg);
}

.gamefork {
display: flex;
max-width: 1800px;
height:100%;
margin: auto;
flex-wrap: wrap;
justify-content: space-between;
background-color:green;
margin-top: 1400px;

align-items: baseline;

}

.gametuten{
display: flex;
max-width: 1800px;
margin:auto;
flex-wrap: wrap;
justify-content: space-between;
background-color:pink;
align-items: baseline;

}
    




.forks img{
width: 100%;
}

.tuten img{
width: 100%;
}



#forkone{
width: 300px;
}

#forktwo{
width: 200px;
transform: rotate(180deg);

}

#forkthree{
width: 150px;
transform: rotate(40deg);
}

#forkfour{
width: 300px;
}

#tuteone{
width: 400px;

}

#tutetwo{
width: 400px;
transform: rotate(-40deg);
}

#tutethree{
width: 300px;
padding-left: 60px; s
}

#tutefour{
width: 500px;   
}

#tutetwo:hover {
    animation-play-state: paused;
  }
  
 #tutetwo.bouncy {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
    @keyframes bounce {
        0% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(-25px);
        }
      }