    
header{
   /*  background-color: grey;*/
    background-repeat: no-repeat;
    width:100vw;
    height:auto;


}


@font-face {
    font-family: "Nimbus";
    src: url("font/nimbus-sans-l_bold.woff2") format("woff2");
     }

h1,h2,h3{
font-family: "Nimbus";
font-size: 70pt;
}


h1{
    padding: 10px 0px 0px 20px;
}

h2{
padding: 10px 0px 0px 245px;
margin-top:-100px;
}

h3{
    padding-top: 410px;
    padding-left: 20px;
}

.sideelement{
width: 15vw;
height:100%;
background-color:white;
position:fixed;
top:0;
right:-10px;
padding-top: 5px;
padding-left: 20px;
padding-right: 10px;
z-index:2;
box-shadow: -10px 0px 10px ;
line-height: 110%;
font-family:"Nimbus-Roman";
font-weight:20pt;
opacity:0;
}

.thanks{
    position: absolute;
    bottom: 3vw;
    font-family:"Nimbus-Roman";
}

ul{
padding-left:0;  
position:absolute;
bottom:0;
font-family:"Nimbus-Roman";
}

a{
    font-family: "Nimbus";
    color:black;
    font-weight:normal;
    font-size: 10pt;
}

.sideelement:hover {
    opacity:1;
    transition: opacity 1s;

 }


.pommes img{
width: 100%;
}

.pommes{
position: absolute;
/*animation: moveX 2s linear os infinite alternate, moveY 3.4s linear os infinite alternate;*/
}

#pommesone{
width: 500px;
animation: fly 50s linear infinite;
pointer-events: none !important;
top: 0;
left: 0;
transform: translateX(-120%) translateY(-120%) rotateZ(0);
position: fixed;
animation-delay: 1s;
z-index: 5;
}

@keyframes fly {

    98.001%, 0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }
    
    15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }
    
    15.001%, 18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }
    
    40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }
    
    40.001%, 43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }
    
    65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }
    
    65.001%, 68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }
    
    95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
    
    }
    

#pommestwo{
width: 250px;
animation: run 30s linear infinite;
pointer-events: none !important;
top: 10vw;
right:10vw;
transform: translateX(10%) translateY(10%) rotateZ(0);
position: fixed;
animation-delay: 0s;
z-index: 6;
}

@keyframes run {

    0%, 100% {
    display: block;
    transform: translateX(500px) translateY(200px) rotateZ(0deg)
    }
        
    10% {
    transform: translateX(-60%) translateY(-60%) rotateZ(70deg)
    }
        
    30% {
    transform: translateX(-800px) translateY(-200px) rotateZ(0deg)
    }
        
    40% {
    transform: translateX(20px) translateY(1000px) rotateZ(80deg)
    }
            
    60% {
    transform: translateX(-100px) translateY(200px) rotateZ(0deg)
    }
        
    80% {
    transform: translateX(80%) translateY(80%) rotateZ(90deg)
    }
        
    }

#pommesthree{
width: 240px;

animation: crawl 20s linear infinite;
pointer-events: none !important;
top: 0;
left: 0;
transform: translateX(-60vw) translateY(-70vw) rotateZ(0);
position: fixed;
animation-delay: 0s;
z-index: 7;
}

@keyframes crawl {

  0%, 100%{
    display: block;
    transform: translateX(100px) translateY(20px) rotateZ(0deg)
    }
            
    10% {
    transform: translateX(300px) translateY(700px) rotateZ(180deg)
    }
            
              
    40% {
    transform: translateX(1000px) translateY(200px) rotateZ(20deg)
    }
            
              
    65% {
    transform: translateX(500px) translateY(500px) rotateZ(-180deg)
    }
            
                
            
    95% {
    transform: translateX(80px) translateY(30px) rotateZ(0deg)
    }
            
    }

#pommesfour{
width: 165px;
animation: swim 30s linear infinite;
pointer-events: none !important;
transform: translateX(0) translateY(0) rotateZ(0);
position: fixed; 
top: 900px;
left: 10px;
animation-delay: 0s;
z-index: 8; 
}

@keyframes swim {

    0% {
   transform: translateX(10px) translateY(-10px) rotateZ(0deg);
   display: block;
   
   }
               
   10% {
   transform: translateX(400px) translateY(-600px) rotateZ(-90deg)
   }
               
                 
   40% {
   transform: translateX(10px) translateY(-400px) rotateZ(20deg)
   }
               
                 
   65% {
   transform: translateX(1000px) translateY(-10px) rotateZ(-180deg)
   }
               
                   
               
   95% {
   transform: translateX(80px) translateY(0px) rotateZ(0deg)
   }
               
   } 

#pommesfive{
width: 165px;
animation: float 50s linear infinite;
pointer-events: none !important;
top: 0;
left: 0;
transform: translateX(900px) translateY(700px) rotateZ(0);
position: fixed;
z-index: 10;
}


@keyframes float {

    0%,100% {
   transform: translateX(1000px) translateY(300px) rotateZ(0deg);
   display: block;
   
   }
               
   10% {
   transform: translateX(500px) translateY(10vw) rotateZ(-90deg)
   }
               
                 
   40% {
   transform: translateX(20vw) translateY(700px) rotateZ(20deg)
   }
               
                 
   65% {
   transform: translateX(80vw) translateY(1vw) rotateZ(-180deg)
   }
               
                   
               
   95% {
   transform: translateX(90vw) translateY(25vw) rotateZ(0deg)
   }
               
   }


#pommessix{
width: 165px;
animation: go 60s linear infinite;
pointer-events: none !important;
transform: translateX(0) translateY(0) rotateZ(0);
position: fixed;
z-index: 3;
}

@keyframes go {

    0%,100% {
   transform: translateX(1000px) translateY(-800px) rotateZ(0deg);
   display: block;
   
   }
               
   10% {
   transform: translateX(1500px) translateY(-600px) rotateZ(-90deg)
   }
               
                 
   40% {
   transform: translateX(1200px) translateY(-20px) rotateZ(20deg)
   }
               
                 
   65% {
   transform: translateX(200px) translateY(10px) rotateZ(-180deg)
   }
               
                   
               
   95% {
   transform: translateX(10px) translateY(-500px) rotateZ(0deg)
   }
               
   }

/* intro article "why we love fries" ende*/
body{
height:700px;
width:100%;
margin:0;

}

.introarticle{
height: 100%;
width: 100%;
padding-top: 50px;
}

@font-face{
    font-family: "Nimbus-Roman";
    src: url("font/Nimbus-Roman-D-OT_32732.woff2") format("woff2");
    }

h4{
font-family: "Nimbus-Roman";
font-weight: normal;
font-size: 56pt;
margin-bottom: -20px;
margin-top: 0px;
padding-left: 10px;
}

h5{
font-family: "Nimbus"; 
font-size: 70pt;
margin-bottom: -5px;
margin-top: 0px;
letter-spacing:-1pt;
padding-left: 10px;
line-height: 90%;;
}

.happyman img{
width: 600px;
position: relative;
right: 40px;
top: 60px;
float: right;
}


.articles p{
    font-family: "Nimbus-Roman";
    font-weight: normal;
    font-size: 18pt;
    line-height: 90%;
}

.headers{
font-family: "Nimbus"; 
font-size: 70pt;
letter-spacing:-1pt;

}
/* intro article "why we love fries" ende*/

/* article "why we love fries" start*/

.article{
    height: 100%;
    width: 100%;
    padding-top: 50px;  
    position: relative;
    padding-bottom:0;
}

.nostalgia img{
width: 100%;
height: auto;
position: absolute;
padding-top:850px;
z-index:-1;
}

#firstparagraph{
display: block;
width: 25%;
margin-top: 50px;
margin-left: 10px;
}


#secondparagraph{
display: block;
width: 35%;
position: absolute center;
float: right;
margin-right: 100px;
margin-top: 0px;
}

#thirdparagraph{
    display: block;
    width: 50%;
    position: absolute;
    margin-left: 499px;
    margin-top: 120px;
    line-height: 80%;
    display:inline;
    }


#fourthparagraph{
display: block;
width: 45%;
position: absolute ;
margin-top: 950px;
margin-left: 1050px;
margin-right: 0px;
line-height: 100%;
}

#fifthparagraph{
display: block;
width: 25%;
position: absolute;
margin-top: 1250px;
margin-left: 1050px;
z-index: 1;
background-color:white;
padding-left: 10px;
padding-bottom:5px;
}

.pommesbackground img{
width: 1500px;
position: absolute bottom left;
padding-left: 10px;
margin-top:1000px;
z-index: -1;
transform: rotate(12deg);

padding-bottom:0px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
}


.tooltip-anchor {
position: relative; /* this tells the tooltip to anchor position from here */
border-bottom: 1px black; /* this is just to help identify this anchor */
text-decoration-line:underline;
}
  
.tooltip {
position: absolute;
top: 1.5em; left: 0; /* the tooltip position */
min-width: 120px; /* don't make it too wide! */
/* style the tooltip a little: */
padding: 5px;
background-color: white;
display: none; /* hides the tooltip */
  }
  
.tooltip-anchor:hover .tooltip {
display: block; /* show on hover */
}

/* article "why we love fries" end*/


/* article "protest" start*/
.articleprotest{
width:100%;
height:107%;
background-color:white;


}
#headtitle{
   font-family: "Nimbus";
   font-size:4vw;
   line-height:125%;
   position:absolute;
   bottom:0;
   left:20vw;
   word-spacing: 90%;
}

.textarticleprotest{
    width: 15%;
    height: 97%;
    overflow: auto;
    position:absolute;
    bottom:1vw;
    left:3vw;
    padding-left: 10px;
    padding-right: 10px;
   
}

.textfett{
    font-family:"Nimbus";
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    padding:5px;
    visibility: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    visibility: hidden;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    visibility: hidden;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:black; 
    visibility: visible;
  }


.text{
    font-family:"Nimbus-Roman";
    font-size:12pt;
    text-align:justify;
    line-height:120%;
    font-kerning: 30%;
    letter-spacing:0.02vh;

}

@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }


.gifsbackgroundlineszero{
    position:absolute;
    align-content: bottom;
    display:flex;
    flex-wrap:wrap;
    bottom:45vw;
    left:20vw;
    }


 
.gifsbackgroundlineone{
position:absolute;
align-content: bottom;
display:flex;
flex-wrap:wrap;
bottom:40vw;
left:20vw;
}



.gifsbackgroundlinetwo{
position:absolute;
align-content: bottom;
display:flex;
flex-wrap:wrap;
bottom:35vw;
left:20vw;
}

.gifsbackgroundlinethree{
position:absolute;
align-content: bottom;
display:flex;
flex-wrap:wrap;
bottom:30vw;
left:20vw;

}
.gifsbackgroundlinefour{
position:absolute;
align-content: bottom;
bottom:25vw;
left:45vw;
display:flex;
flex-wrap:wrap;
}

.gifbackgroundlinefour img{
    padding-left:2px;
}


.gifsbackgroundlinefive{
position:absolute;
align-content: bottom;
bottom: 20vw;
left:50vw;
display:flex;
flex-wrap:wrap;
}

.gifsbackgroundlinesix{
    position:absolute;
align-content: bottom;
bottom:15vw;
left: 66vw;
display:flex;
flex-wrap:wrap;
}

.gifsbackgroundlineseven{
position:absolute;
align-content: bottom;
bottom:10vw;
left: 74vw;
display:flex;
flex-wrap:wrap;    
}

.gifsbackgroundlineseight{
    position:absolute;
    align-content: bottom;
     bottom: 5vw;
    left: 85vw;
    display:flex;
    flex-wrap:wrap;       
}

.gifsbackgroundlinesnine{
    position:absolute;
    align-content: bottom;
    bottom:0;
    left: 87vw;
    display:flex;
    flex-wrap:wrap;   
}

/* line 0 start*/
#gifzeroone{
animation: 4s fadeIn;
animation-fill-mode: forwards;

visibility: hidden;
}

#gifzerotwo{
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
    }

/* line 1 start*/
#gifoneone{
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifonetwo{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifonethree{
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifonefour{
    animation: 16s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifonefive{
    animation: 35s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifonesix{
    animation: 38s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifoneseven{
    animation: 41s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
/* line 2 start*/



#giftwone{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#giftwotwo{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwothree{
    animation: 7s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwofour{
    animation: 15s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwofive{
    animation: 16s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwosix{
    animation: 26s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwoseven{
    animation: 34s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwoeight{
    animation: 39s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwonine{
    animation: 42s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwoten{
    animation: 47s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwoeleven{
    animation: 50s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

/* line 3 start*/

#gifthreeone{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifthreetwo{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreethree{
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreefour{
    animation: 10s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreefive{
    animation: 16s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreesix{
    animation: 43s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreeseven{
    animation: 46s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreeeight{
    animation: 48s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreenine{
    animation: 50s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreeten{
    animation: 51s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreeeleven{
    animation: 53s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreetwelve{
    animation: 55s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
#gifthreethirteen{
    animation: 60s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
/* line 4 start*/

#gifone{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giftwo{
    animation: 9s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifthree{
    animation: 12s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffour{
    animation: 25s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffive{
    animation: 30s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsix{
    animation: 33s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifseven{
    animation: 35s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifeight{
    animation: 34s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifnine{
    animation: 36s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

/* line 5 start*/

#giffiveone{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffivetwo{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffivethree{
    animation: 11s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffivefour{
    animation: 20s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffivefive{
    animation: 25s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffivesix{
    animation: 27s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffiveseven{
    animation: 30s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#giffiveeight{
    animation: 32s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}


/* line 6 start*/

#gifsixone{
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsixtwo{
    animation: 19s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsixthree{
    animation: 20s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsixfour{
    animation: 24s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsixfive{
    animation: 36s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

/* line 7 start*/

#gifsevenone{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifseventwo{
    animation: 13s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifseventhree{
    animation: 21s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifsevenfour{
    animation: 30s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

/* line 8 start*/

#gifeightone{
    animation: 14s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifeightwo{
    animation: 23s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifeightthree{
    animation: 25s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}


/* line 9 start*/


#gifnineone{
    animation: 15s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

#gifninetwo{
    animation: 22s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}

/* lines finished start*/

/* sauces start*/

footer{
background-repeat: no-repeat;
overflow-y: hidden;
position:static;
top:0;
width:99vw;
height:50vw;
padding-top:0;
overflow: hidden;
 
}

#sauces{
display:flex;
flex-direction: row;
flex-wrap:nowrap;
z-index:5;
}


.sauceslist img{
   height:40vw;
   z-index:-1;
   top:0;

}

.sauceslist{
border-right: 3px solid black;
border-top: 3px solid black;
border-bottom: 3px solid black;
height:98vw;
padding: 0;
overflow: hidden;
flex: 1;
flex-direction: row;
flex-wrap:nowrap;
z-index:2;
overflow-y:hidden;
}

.sauceslist:hover {
    flex: 6;
}

#saucesone{
    border-left: 3px solid black;  
}



.sauceslist p{
font-family:"Nimbus";
z-index:4;
font-size: 40pt;
display: flex; 
flex-wrap:wrap;
align-items: center;
justify-content: center;
position:relative;
bottom:6vw;
text-align: left;
padding-left:2px;
opacity:0;
}

.sauceslist p:hover{
    opacity:1;
    transition: opacity 0.5s;
}

#titlesauces p{
    font-size: 70pt;
    padding-top:0;
    margin-top:0;
    margin-bottom:1vw;
    font-family: "Nimbus";
}


.pommesandsauces{
    position:static;
    top:0;
    left:0;
}

.love{
position:absolute;
right:18%;
top:0;
opacity:1;
z-index:0;

}



.heartimage{
opacity: 0;
position:absolute;
right:18vw;
top:-20px;
z-index:1;
background-color:white;
transform: rotate(-45deg);
padding:52px;
}

.heartimage img{
    width: 100px;
}

.heartimage:hover{
opacity: 1;
z-index:1;
}


/*
footer{
    position:relative;
}

.gamefork {
display: flex;
max-width: 1800px;
margin: auto;
flex-wrap: wrap;
justify-content: space-between;
background-color:green;
align-items: baseline;
z-index: -1;

}

.gametuten{
display: flex;
max-width: 1800px;
margin: auto;
flex-wrap: wrap;
justify-content: space-between;
background-color:pink;
align-items: center;

}

    
.forks img{
width: 100%;
}

.tuten img{
width: 100%;
}
*/

/* animation 1 start
#forkone{
    border-style: solid;
    border-color:lawngreen;
    width: 300px;
    height:100px;
    align-self: bottom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;

}
#forkone {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(100px); }
    100% { transform: translateY(0px); }
}

#forkone:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

/* animation 1 end*/

/* animation 2 start
#forktwo{

    border-style: solid;
    border-color:lawngreen;


width: 200px;
align-self:center;
animation-duration: 2s;
animation-iteration-count: infinite;
margin: 0 auto 0 auto;
transform-origin: top;
}

#forktwo {
animation-name: bounce-2;
animation-timing-function: ease;
}

@keyframes bounce-2 {
0%   { transform: translateY(0); }
50%  { transform: translateY(500px); }
100% { transform: translateY(0); }
}

#forktwo img{
transform: rotate(180deg);
}

#forktwo:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

/* animation 2 end*/

/* animation 3 start
#forkthree{
width: 180px;
align-self:center;
animation-duration: 2s;
animation-iteration-count: infinite;
margin: 0 auto 0 auto;
transform-origin: top;
}

#forkthree {
    animation-name: bounce-2;
    animation-timing-function:ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(500px); }
    100% { transform: translateY(0); }
}

#forkthree img{
    transform: rotate(40deg);
    border-style: solid;
    border-color:lawngreen;
}

#forkthree:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
/* animation 3 end*/

/* animation 4 start
#forkfour{

    border-style: solid;
    border-color:lawngreen;
width: 300px;
align-self:center;
animation-duration: 2s;
animation-iteration-count: infinite;
margin: 0 auto 0 auto;
transform-origin: top;
}

#forkfour {
animation-name: bounce-2;
 animation-timing-function: ease;
} 

@keyframes bounce-2 {
0%   { transform: translateY(0); }
50%  { transform: translateY(500px); }
100% { transform: translateY(250); }
}

#forkfour:hover {
    cursor:pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

/* animation 4 end

#tuteone{
width: 400px;
align-self: flex-end;
padding-bottom: 10px;


}

#tutetwo{
width: 300px;
transform: rotate(-40deg);
align-self: end;
padding-bottom: 80px;
}

#tutethree{
width: 200px;
padding-left: 80px; 
align-self:end;
padding-bottom: 70px;

}

#tutefour{
width: 500px;  
align-self: end;
padding-top:60px;

}
/* Pommes im Pommesgame 
.gamepommes{
    display: flex;
    max-width:1800px;
    height:min-content;
    margin: auto;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color:blue;
    align-items: baseline;
 
}

.pommesgame img{
    width: 100%;
    }


 #pommesgameone{
    border-style: solid;
    border-color: yellow;
    width: 90px;
    align-self: top;
    margin-left: 200px;
 }

 #pommesgametwo{
    border-style: solid;
    border-color: yellow;
    width: 100px;
    align-self: top;
    margin-left: 160px;
 }

 #pommesgamethree{
    border-style: solid;
    border-color: yellow;
    width: 100px;
    align-self: top;
    margin-left: 80px;
    margin-top:0;

 }

 #pommesgamefour{
    border-style: solid;
    border-color: yellow;
    width: 100px;
    align-self: top;
    margin-right: 200px;
 }


.pommesgame {
position: relative;
top:0px;
left:0px;
animation-duration: 2s;
animation-iteration-count: infinite;
margin: 0 auto 0 auto;
transform-origin: top;
}

.pommesgame {
animation-name: bounce-2;
animation-timing-function: ease;
} 

@keyframes bounce-2 {
0%   { transform: translateY(0); }
50%  { transform: translateY(500px); }
100% { transform: translateY(0); }
}

.pommesgame:hover {
    cursor:pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

 

 /*
 footer{
      width:100%;
      height:auto;
      column-count:4;
      column-width:25vw;
  }


.forks img{
    width: 100%;
    }
    
.tuten img{
    width: 100%;
    }

.pommesgame img{
    width: 100%;
}


.columnone{
width:25vw;
display: flex;
flex-wrap: wrap;



}
  
#forkone{
    border-style: solid;
    border-color:lawngreen;
    width: 300px;
    height:100px;
    align-self: bottom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
  }

  #pommesgameone{
    width: 100px;
 
  }
 */